# Exclude development and git files
.git
.github
.next
node_modules
npm-debug.log
README.md
.env.local
.env.development.local
.env.test.local
.env.production.local

# Exclude Docker files
Dockerfile
.dockerignore
docker-compose.yml

# Exclude editor directories
.idea
.vscode

# Exclude build artifacts
out
dist
build
coverage
